#app-title {
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: black;
    font-family: 'BioRhyme', serif;
}
.row {
    margin-top: 30px;
    margin-left: 0;
}

.topic-btn {
    margin: 5px;
    height: 30px;
    height: auto;
    display: block;
    float:right;
}


.image-content {
    float: left;
    display: block;
    margin-left: 10px;
}


.image-btn {
    border: solid 10px #cccc;
    margin: 5px;
}
#label1{
    font-size: 20px;
}

#state-btn {
    border: solid 10px red;
}

#animate-btn {
    border: solid 10px green; 
}